@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#e5e7eb] text-slate-800 font-sans antialiased;
  }
}

@layer utilities {
  holy .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}